@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

body {
    margin: 0 0 0 0;
    font-family: 'Helvetica Neue', sans-serif;
   
    color:rgb(0, 0, 0);
    
    -ms-overflow-style: none;
 }
 
::-webkit-scrollbar {
  display: none;
}
  


#rain {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
    overflow: hidden;
  }

  #rain .drop {
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    animation: rainAnimation 1s linear infinite;
  }

  @keyframes rainAnimation {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(200vh);
      opacity: 1;
    }
  }


.box1 {
    margin: 0 0 0 0;
    position: fixed;
    /* box-shadow: 3px 3px rgb(255, 255, 255), -1em 0 .4em olive; */
    background-color: rgb(0, 0, 0);
    width:100%;
    height:10%;
    border-radius: 10rem 8rem / 8rem 40rem;
}

.info{
    margin: 0 0 0 0;
    font-size: 2rem;
    display: grid;

  grid-template-columns: 1fr 1fr 1fr;
}



.name {
    margin: 0 0 0 0;

    /* margin-top:-3.5rem;
    margin-bottom: -3.5rem; */
    font-size: 2rem; 
    grid-template-columns: 1fr 1fr 1fr;

}

.about {
    margin: 0 0 0 0;
    font-size: 1rem;
   
   }

.mainimage {
    
    margin: 0 0 0 0;
    width:100%;
    
}

.catergory1{
    
    position: fixed;
    font-size: 7rem;
    color:rgb(0, 0, 0);
    bottom: 1%;
    left:1%;

}

.catergory2{
    position: absolute;
    font-size: 5rem;
    color:rgb(0, 0, 0);
    top: 87%;
    right: 60%;
}

.catergory3{
    position: absolute;
    font-size: 1rem;
    color:rgb(0, 0, 0);
    top: 50%;
    right: 90%;
}

.catergory2{
    position: absolute;
    font-size: 2rem;
    color:rgb(0, 0, 0);
}

.catergory3{
    position: absolute;
    font-size: 1rem;
    color:rgb(0, 0, 0);
}

.box2{
    
    margin: 0 0 0 0;
    height:1200px;
    width: 100%;
    background: linear-gradient(180deg, #000000 20%,#d8d8d8 60%, #ffffff);
}

/* .mainimage2 img{
    margin: 0 0 0 0;
    width:100%;

} */

.marquee{   
    /* position: fixed;   */
    width: 100%;
    /* bottom: 0px;
    right: 0px; */
    font-size: 2em;
    color: rgb(0, 0, 0);
    /* background-color: rgba(254, 254, 254, 0.9); */
    /* padding-top: 0.5ch; 
    padding-bottom: 0.3ch;  */
  
    
}


/* footer {
    position: fixed;  
    bottom: 0;
} */


 

