@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

body {
    margin: 0 0 0 0;
    font-family: 'Helvetica Neue', sans-serif;
   
    color:rgb(0, 0, 0);
    
    -ms-overflow-style: none;
 }
 
::-webkit-scrollbar {
  display: none;
}

.info {
    color:#000000;
    margin: 0 0 0 0;
    position: fixed;
    /* margin-top:-3.5rem;
    margin-bottom: -3.5rem; */
    font-size: 7vw; 
    grid-template-columns: 1fr 1fr 1fr;
    
    left:0.5%;

}


#rain {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
    overflow: hidden;
  }

  #rain .drop {
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    animation: rainAnimation 1s linear infinite;
  }

  @keyframes rainAnimation {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(200vh);
      opacity: 1;
    }
  }


.mainimage {
    
    margin: 0 0 0 0;
    width:100%;
    
}

.category1{
    
    position:fixed;
    font-size: 7vw;
    color:rgb(0, 0, 0);
    bottom: 0;
    left:0.5%;
}


.hidden {
    display: none;
  }




.box2{
    /* position: relative; */
    margin: 0 0 0 0;
    height:100vh;
    width: 100%;
    background: linear-gradient(180deg, #000000 20%,#d8d8d8 60%, #ffffff);
}

/* .mainimage2 img{
    margin: 0 0 0 0;
    width:100%;

} */


.web{
    
 font-size: 2vw;

}

.index{
    margin-left: 1%;
    display: grid;
    grid-template-columns: 1.5fr 2fr 3fr;
}



.marquee{   
    /* position: fixed;   */
    width: 100%;
    /* bottom: 0px;
    right: 0px; */
    font-size: 2em;
    color: rgb(0, 0, 0);
    /* background-color: rgba(254, 254, 254, 0.9); */
    /* padding-top: 0.5ch; 
    padding-bottom: 0.3ch;  */
  
    
}


/* footer {
    position: fixed;  
    bottom: 0;
} */


 

