@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');
svg {
    position: absolute;
} 




    body {
        /* filter: url(#distort); */
        margin: 0 0 0 0;
        font-size: 1.3vw;
        font-family: 'Hedvig Letters Sans', sans-serif;
        /* font-family: 'Helvetica Neue', sans-serif; */
        color:rgb(0, 0, 0);
        overflow: hidden;
        -ms-overflow-style: none;
        overscroll-behavior: none;
        
    
    
        
    }


    iframe{
        border: 0;
    }

    hr{
        border: 2px solid #000000;
    

  
    }

    .line{
        border: 0px;
    
        filter: url(#distort);
    }

    .v-line {
   
        position:fixed;
        filter: url(#distort);
        border: 2px solid #000000;
        left: 21%;
        height : 100%;
      }


    .all{
        display: grid;
        grid-template-columns: 1fr  3.7fr;
        overflow-x: hidden;
    }

    .left {
        overflow-y: auto;
        max-height: 100vh;
        flex: 0 0 50%; /* Adjust the percentage as needed */
    }

    .project{
        z-index: 3;
        margin-left:3%;
    }
    
        
    .category10{
 /* Change from absolute to sticky */
    margin-left:3%;
    font-weight: bold;
    flex: 0 0 50%; /* Adjust the distance from the right as needed */

    }

    .right {
        overflow-y: auto;
        max-height: 100%;
        flex: 0 0 50%; /* Adjust the percentage as needed */
    }

    



  

    ::-webkit-scrollbar {
    display: none;
    }

    a:link, a:visited {

        color:rgb(0, 0, 0);
        text-decoration: none;

    }

    a:hover{
       

        filter: url(#distort);
        color:rgb(0, 0, 0);
        /* -webkit-transition: 0.5s;
        transition: 0.5s; */
    }

   

    
 


    .name{

        filter: url(#distort);
    
        overflow: hidden;
        white-space: nowrap;

        z-index:2;
        margin-top:0%;
        padding-top:0%;
        position: fixed;
        margin-left:0.5%;
        
        font-size: 1.7vw;
        
    
    
    }

    .marquee {
        
        width:100%;
    
        white-space: nowrap;


    
        display: inline-block;
        animation: marquee 120s linear infinite;
        
    }

    @keyframes marquee {
        0% {
            transform: translate(0%, 0);
        }
        100% {
            transform: translate(-100%,0 );
        }
    }

    

    .hidden {
        display: none;
    }



   
 



    
  
   
  

  

  



