@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
svg {
    position: absolute;
} 




    body {
        /* filter: url(#distort); */
        margin: 0 0 0 0;
        font-size: 1.22vw;
        font-family: 'Montserrat', sans-serif;
        font-weight:500;
        /* font-family: 'Helvetica Neue', sans-serif; */
        color:rgb(0, 0, 0);
        overflow: hidden;
        -ms-overflow-style: none;
        overscroll-behavior: none;
        
    
    
        
    }


    iframe{
        border: 0;
    }

    hr{
        border: 2px solid #000000;
    

  
    }

    .line{
        
        border: 0px;
    
        filter: url(#distort);
    }

    .v-line {
   
        position:fixed;
        filter: url(#distort);
        border: 2px solid #000000;
        left: 19.7%;
        height : 100%;
      }


    .all{
        width:100%;
        display: grid;
        grid-template-columns: 1fr  4fr;
        overflow-x: hidden;
    }

    .left {
        overflow-y: auto;
        height: 100vh;
        flex: 0 0 50%; /* Adjust the percentage as needed */
    }

    .project a{
        margin-left:3%;
        z-index: 1; /* Ensure proper stacking order */
        position: relative; /* Adjust positioning if needed */
        pointer-events: auto; /* Enable pointer events */
    }
    
        
    .category10{
        text-decoration:  line-through;
    
        /* font-weight: bold; */
    margin-left:3%;
    /* font-weight: bold; */

   


    }

    .right {
        overflow-y: auto;
        height: 100vh;
   
    }

    

    ::-webkit-scrollbar {
         display: none;
    }

    a:link, a:visited {

        color:rgb(0, 0, 0);
        text-decoration: none;

    }

    a:hover{
     
        text-decoration: line-through;
     
        /* filter: url(#distort); */
  
         
       
    }

   

    
 


    .name{

        filter: url(#distort);
    
        overflow: hidden;
        white-space: nowrap;

       
        margin-top:0%;
        padding-top:0%;
        position: fixed;
      
        
        font-size: 1.7vw;
        
    
    
    }

    .marquee {
        
        width:100%;
    
        white-space: nowrap;


    

        animation: marquee 120s linear infinite;
        
    }

    @keyframes marquee {
        0% {
            transform: translate(0%, 0);
        }
        100% {
            transform: translate(-100%,0 );
        }
    }

    

    .hidden {
        display: none;
    }



   
 



    
  
   
  

  

  



