/* @import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Linefont:wght@100&display=swap');

@font-face{
    font-family:"Linefont ttf";
    src:url(./font/Linefont-Thin.ttf); 
    
}

    svg {
        position: absolute;
    } 

    

   

    body {
      
  
        margin: 0 0 0 0;
        font-family: 'Raleway', sans-serif;
        font-weight:700;
       
        color:rgb(0, 0, 0);
     
        overscroll-behavior: none;
        
        
     }

        
    .category1 {
        
        margin: 0;
        height: 100vh;
        width: 100%;
        position: fixed;
        background: linear-gradient(360deg, #5a58da 0.5%, #d8d8d8 10%, #ffffff);
        opacity: 0;
        transition: opacity 0.8s ease;
      }
   

     /* .back {
        overflow:hidden;
        filter: blur(10px);
        font-size: 100vw;
        color:rgb(251, 0, 0);
        font-family: 'Linefont ttf';
        font-weight: 100;
        
    } */
     
    /* ::-webkit-scrollbar {
      display: none;
    } */
    
    a:link, a:visited {
    
        color: rgb(0, 0, 0);
        text-decoration: none;
    
      }
    
    /* a:hover{
        filter: blur(20px);
        color: rgb(0, 0, 0);
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }
     */
    /* #rain {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background: transparent;
      }
      
      .raindrop {
        position: absolute;
        width: 0.3vw;
        height: 8vh;
        background: rgb(93, 93, 93);
        opacity: 0.2;
        animation: fall 0.8s linear infinite;
      } */
    
      
/*       
      @keyframes fall {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(100vh);
        }
    }
     */

    
    .name{
        filter: url(#distort);
       
        overflow: hidden;
       

        z-index:1;
        margin-top:0%;
        margin-bottom:0%;
        padding-top:0%;
        margin-left:0.5%;
        color:#000000;
        font-size: 5vw;
        
       
      
    }
    
    .marquee {
        
        width:100%;
       
        white-space: nowrap;
    
    
     
        display: inline-block;
        animation: marquee 20s linear infinite;
        
    }
    
    @keyframes marquee {
        0% {
            transform: translate(40%, 0);
        }
        100% {
            transform: translate(-100%, 0);
        }
    }
    

    
    .info {
        
        
        color:#000000;
        margin: 0.8% 0 0 0;
        position: fixed;
        margin-top:1rem;
        font-size: 10vw; 
        
        
        left:0.5%;
    
    }
    
    
  
    
   
    
    
    
    
    
    /* .mainimage2 img{
        margin: 0 0 0 0;
        width:100%;
    
    } */
    
    
    
    
    .index{
        filter: url(#distort);
        margin-top:-5%;
        margin-left: 2%;
        margin-right: 2%;
        font-size: 5vw;
        
      
    }
    
    .web{
        padding-top:5%;
    
    
    
       
       }

    .infomobile
    {
        position: absolute;
        right:2%;
    }
 



