@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800;900&display=swap');

svg {
    position: absolute;
} 
.container{
   
    display:grid;
    grid-template-columns: 1fr 1fr;
  
}

.item iframe{
    width:70%;
}


    
@media all and (min-width:768px){ 
    body{
       
        font-size: 2vw;
        font-family: 'Raleway', sans-serif;
        font-weight:700;
        -ms-overflow-style: none;
        overscroll-behavior: none;
    }

   

    .home{
        font-size:2vw;
        position:fixed;
    }

    .title{
        margin: 0% 2% 0% 0%;
    }

    .title_labor{
    
        text-align: center;
        font-size: 1.5vw
    
        }
    
    .main {
        
        text-align: center;   
    }

    .main_image{
        
        text-align: center;   
    }

    .main_image img{
        
        margin-top:2.5%;
       width:95%;
    }
    
    .main img{
        
       width:98%;
    }

    .info{
        margin: 0.8% 0% 0 3% ;
      
    }

    .credit{
        font-size:1.5vw;
        margin: 0% 8% 0 8%;
    }



    .video{
        
        margin: 5% 10% 0% 10% ;
        width:80%;
    }

    .sub {
        text-align: center;   
    }
    
    .sub img{
        margin-top:3%;
       width:40%;
    }

    .mark{
        margin: 2% 7% 0 7% ;
    }


    ::-webkit-scrollbar {
  display: none;
}

.drawing{
    font-size:2vw;
    margin-left:0.5vw;
    }

               

.name{
                
                overflow: hidden;
                white-space: nowrap;
                z-index:1;
                    
                margin-top:0%;
                padding-top:0%;
                position: fixed;
                margin-left:0.5%;
             
                font-size: 2vw;
                
                
                
                }

                .marquee {
                
                width:100%;
                
                white-space: nowrap;



                display: inline-block;
                animation: marquee 5s linear infinite;
                
                }

            @keyframes marquee {
            0% {
                transform: translate(10%, 0);
            }
            100% {
                transform: translate(0%, 0);
            }
            }

            a:link, a:visited {

            color: inherit;
            text-decoration: none;

            }

            a:hover{
            filter: blur(10px);
        
            }

            ::-webkit-scrollbar {
                display: none;
              }
        }

 @media all and (max-width:767px){
            body{
                
              
       
                font-size: 4vw;
                font-family: 'Raleway', sans-serif;
                -ms-overflow-style: none;
                overscroll-behavior: none;
            }
        
            /* .home{
                font-size:2vw;
                position:fixed;
            }
             */
            .main {
            
                text-align: center;   
                
            }

            .title_labor{
    
                text-align: center;
                font-size: 4vw
            
                }
            
            .main img{   
                margin-top:15%;
                width:100%;
             
            }

            .main_image{
                text-align: center;   
            }

            .main_image img{
                margin-top:20%;
                
               width:100%;
            }

            .main iframe{
                margin-top:13%;
                margin-bottom:15%;
              

            }

            
        
            .info{
                position: relative;
                
                margin: 2% 8% 0 5% ;
              
            }
        
            /* .credit{
                font-size:2.5vw;
            }
         */
        
        
            .video{
                
                margin: 5% 10% 0% 10% ;
            
            }
        
            .sub {
                text-align: center;   
            }
            
            .sub img{
                margin-top:3%;
               width:80%;
            }
        
            .mark{
                margin: 2% 7% 0 7% ;
            }
        
        
            ::-webkit-scrollbar {
          display: none;
        }

        .drawing{
            font-size:4vw;
            margin-left:0.5vw;
            }
        
                       
        
        .name{
                        
                        overflow: hidden;
                        z-index:1;
                        margin-top:0%;
                        
                        padding-top:0%;
                        position: fixed;
                        margin-left:0.5%;
                        font-size: 4.6vw;
                        
                        
                        
                        }
        
                        .marquee {
                        
                        width:100%;
                        
                        white-space: nowrap;
        
        
        
                        display: inline-block;
                        animation: marquee 15s linear infinite;
                        
                        }
        
                    @keyframes marquee {
                    0% {
                        transform: translate(40%, 0);
                    }
                    100% {
                        transform: translate(-100%, 0);
                    }
                    }
        
                    a:link, a:visited {
        
                    color: inherit;
                    text-decoration: none;
        
                    }
        
                    a:hover{
                    filter: blur(10px);
                
                    }

        }