@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
svg {
    position: absolute;
} 
.container{
   
    display:grid;
    grid-template-columns: 1fr 1fr;
  
}

.item iframe{
    width:70%;
}


    
@media all and (min-width:768px){ 
    body{
     
        font-size: 1.3vw;
        font-family: 'Montserrat', sans-serif;
        font-weight:600;
        -ms-overflow-style: none;
        overscroll-behavior: none;
    }

   

    .home{
        font-size:2vw;
        position:fixed;
    }

    .title{
        margin: 0% 2% 0% 0%;
    }

    .title_labor{
        padding-top:3.5%;
        margin-bottom:2%;
        text-align: center;
        font-size: 2vw;
      
    
        }

    .labor_video{
        margin: 0 1% 0 1%;
    }   
        .title_labor_sub{
            text-align: center;
            margin-top:1%;
        margin-bottom: 2%;
    }



 
    .main {
        
        text-align: center;  
    }
    
    .main_web{
        text-align: center;  
    }
   
    .main_image{
       
        text-align: center;   
    }

    .main_web img{
        text-align: center;  
        width:103%;
    }


    .main_image img{
        
        margin-top:2.5%;
       width:95%;
    }
    
    .main img{
        
       width:98%;
    }

    .info{
        margin: 0.8% 3% 0 3% ;
      
    }

    .credit{
 
        margin: 0% 0% 0 1%;
    }



    .video{
        
        margin: 5% 1% 1% 1% ;


    
    }

    .sub {
        text-align: center;   
    }
    
    .sub img{
        margin-top:3%;
       width:45%;
    }

    .mark{
        margin: 2% 7% 0 7% ;
    }


    ::-webkit-scrollbar {
  display: none;
}

.drawing{
    font-size:2vw;
    margin-left:0.5vw;
    }

               

.name{
    display: none;

                overflow: hidden;
                white-space: nowrap;
                z-index:1;
                    
                margin-top:0%;
                padding-top:0%;
                position: fixed;
                margin-left:0.5%;
             
                font-size: 2vw;
                
                
                
                }

                .marquee {
                
                width:100%;
                
                white-space: nowrap;



                display: inline-block;
                animation: marquee 5s linear infinite;
                
                }

            @keyframes marquee {
            0% {
                transform: translate(10%, 0);
            }
            100% {
                transform: translate(0%, 0);
            }
            }

            a:link, a:visited {

            color: inherit;
            text-decoration: none;

            }

            a:hover{
                text-decoration: line-through;
        
            }

            ::-webkit-scrollbar {
                display: none;
              }
        }

 @media all and (max-width:767px){
            body{
                
               
                margin: 0 0 0 0;
                font-size: 4vw;
                font-family: 'Montserrat', sans-serif;
                font-weight:600;
                -ms-overflow-style: none;
                overscroll-behavior: none;
            }
        
            /* .home{
                font-size:2vw;
                position:fixed;
            }
             */
            .main {
                
                text-align: center;   
                
            }

            .info{
                position: relative;
                
                margin: 0% 5% 0 5% ;
              
            }

            .title_labor{
                padding-top:8%;
                margin-bottom:3%;
                text-align: center;
                font-size: 4vw
            
                }

            .title_labor_video{
                    text-align: center;
                    margin-top:0%;
                margin-bottom: 2%;
            }
            
            .title_labor_sub{
                text-align: center;
                margin-top:1%;
            margin-bottom: 2%;
        }


           
            
            
            .main img{   
                margin-top:3%;
          
                width:100%;
             
            }

            .main_image{
                text-align: center;   
            }

            .main_image img{
                margin-top:20%;
                
               width:100%;
            }

            .main iframe{
                margin-top:13%;
                margin-bottom:15%;
              

            }

            
        
       
        
            .credit{
                font-size:3vw;
            }
        
        
        
            .video{
            
                margin: 3% 0% 5% 0% ;
            
            }
        
            .sub {
                text-align: center;   
            }
            
            .sub img{
                margin-top:3%;
               width:80%;
            }
        
            .mark{
                margin: 2% 7% 0 7% ;
            }
        
        
            ::-webkit-scrollbar {
          display: none;
        }

        .drawing{
            font-size:4vw;
            margin-left:0.5vw;
            }
        
                       
        
        .name{
        filter: url(#distort);
        /* position:fixed;  */
      
        overflow: hidden;
        white-space: nowrap;
        z-index:1;
        margin-top:0%;
        margin-bottom:0%;
        padding-top:0%;
        
        font-size: 5.4vw;
        
                        
                        
                        }
        
                        .marquee {
                        
                        width:100%;
                        
                        white-space: nowrap;
        
        
        
                        display: inline-block;
                        animation: marquee 20s linear infinite;
                        
                        }
        
                    @keyframes marquee {
                    0% {
                        transform: translate(40%, 0);
                    }
                    100% {
                        transform: translate(-100%, 0);
                    }
                    }
        
                    a:link, a:visited {
        
                    color: inherit;
                    text-decoration: none;
        
                    }
        
                    a:hover{
                        text-decoration: line-through;
                
                    }

        }